.carousel-list-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;
}

.carousel-item-wrapper {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;

  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.remove-margin {
  margin: 0;
  padding: 10px 0;
}

.carousel-list {
  cursor: pointer;
  margin: 0 0 1px 0;
  width: 100%;
}

.carousel-item {
  cursor: pointer;
  display: block;
  width: 100%;
  height: auto;
  padding: 0;

  transition: 0.1s left ease;

  border-bottom: 1px solid #333;
}

.carousel-item:hover,
.carousel-item:active,
.carousel-item:focus {
  background-color: #fdfcfc;
}

.carousel-item-selected,
.project-item-selected {
  display: block;
}

.project-item-selected>.carousel-item-body {
  visibility: visible;
  opacity: 1;
  max-height: 1000px;

  display: flex;
  flex-direction: column;

  transition: max-height 0.6s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.carousel-item-selected>.carousel-item-body {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
  transition: max-height 0.6s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.carousel-item-header {
  display: block;
}

.carousel-item-body {
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
}

.project-item-link {
  color: #c86060;
}

.project-item-selected .carousel-item-body img {
  max-height: 500px;
  object-fit: contain;
}

.project-item-selected .project-item-text {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 736px) {

  .carousel-list-wrapper,
  .carousel-list-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80%;
    gap: 3em;
  }

  .carousel-item-wrapper,
  .carousel-item-project {
    padding: 0;
    margin: 0;

    position: relative;
    display: block;
    width: 100%;

    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;

    border: none;
  }

  .carousel-item-wrapper {
    height: 500px;
  }

  .carousel-item-project {
    height: 900px;
  }

  .carousel-list {
    cursor: pointer;
    margin: 0 0 1px 0;
    color: #b3b4b6;
    width: auto;
    height: auto;
  }

  .carousel-list:hover,
  .carousel-list:active,
  .carousel-list:focus {
    color: #394757;
  }

  .carousel-list-selected p {
    color: #394757;
  }

  .carousel-item {
    background-color: #fdfcfc;
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    max-width: 500px;
    /* max-height: 400px; */
    padding: 0;
    margin: 0 0px;

    white-space: normal;
    transition: 0.1s left ease;

    border: none;
  }

  /* .carousel-item-image {
    width: auto;
    height: auto;
  } */

  .carousel-item-selected {
    position: absolute;
    display: inline-block;
    z-index: 10;

    width: 500px;
    height: 400px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .project-item-selected {
    position: absolute;
    display: inline-block;
    z-index: 10;

    width: 90%;
    max-width: 1000px;
    height: 750px;
    overflow: hidden;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  /* .project-item-selected .project-item-text {
    width: 100%;
    padding: 0 20px;
  } */

  .project-item-selected .carousel-item-body img {
    width: 100%;
    height: auto;
    max-height: 450px;
  }

  .carousel-item-selected>.carousel-item-header,
  .project-item-selected>.carousel-item-header {
    height: auto;
  }

  .carousel-item-selected>.carousel-item-body {
    /* .project-item-selected>.project-item-body, */
    /* .project-item-selected>.carousel-item-body { */

    display: flex;
    flex-direction: row;
  }

  .carousel-item-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .carousel-item-body,
  .project-item-body {
    display: none;
  }
}

@media screen and (min-width: 1200px) {

  .carousel-list-wrapper,
  .carousel-list-project {
    width: 60%;
  }
}